
*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
padding: 0;
border: 0;
}

/* header */


header{
    background-color: #fbe6c2;
    width: 100%;
}



.iconos{
    text-align: right;
    font-size: 20px;
    margin: 0px 5px;
    color: black;
    background-color: none;
    }

.referencia{
    cursor:pointer;
color: black;

}

  .referencia:hover {
        background:peru;
      }


h1{
    color: black;
    background-color: none;
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    margin: 0;
    padding: 0;
}


.centrado{
	margin:0; 
	padding: 0;
    width: 100%;
    background-color:  #fbe6c2;
}

.menu-section{
	padding-bottom: .5%;
	border-bottom: 1px solid hsl(0, 0%);
    background-color:  #fbe6c2;

}

.menu-simple ul{
	list-style-type: none; 
	padding: 0;
	margin:0;
	background:tomato;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content:space-around;
}


.menu-simple li{
    flex:1 0 auto;
    text-align: center;
}

.menu-simple li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: .6em 1em; 
}

.menu-simple li a:hover {
	background:salmon;
}
 

/* footer */
footer{
    background-color: #ffe268;
    color: black;
    font-size: 40px;
    width: 100%;
}

.copiright{
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-style: oblique;
}
.referencia{
    color: black;
}


/* main index */

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background: linear-gradient(60deg,#FFD3B4,#eeeeee );
    padding: 1%;
    margin: 2%
}

h2{
    font-family: 'Coda Caption', sans-serif;
    font-size: 30px;
    color: black;
    background-color: none;
    text-align: center;
    text-decoration: underline black;
    font-weight: bold;
    padding: 0;
    margin-top: 10px;
}



/* carrusel con Bootstrap al final de la página*/



/* body index */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 2%;
    padding: 2%;
    grid-template-areas: "boots boots boots"
                        "deli pago pago"
                        "deli pago pago";
}
/* carrusel con Bootstrap al final de la página*/
#myCarousel{
    border: 2px solid tomato;
    height:min-content;
    margin: 0;
    padding: 0;
    width: 70%;
    margin-left: 15%;
 
}

.carousel-inner img{
    height: 400px;
}

.row{
    grid-area:boots;
}
#dos{
    grid-area: deli;
    background: linear-gradient(khaki,#FFD3B4);
    padding: 8%;
}



#tres{
    grid-area: pago;
    background: linear-gradient(60deg,#FFD3B4,#eeeeee );
    padding: 2% 8% ;
}



@media screen and (max-width:640px) {
    .grid-container{
        grid-template-areas: "boots boots boots"
                            "deli deli deli"
                            "pago pago pago";
    }
}


table{
    border: black solid;
    border-radius: 4px;
    margin: 4%;
}
th{
    border: black solid;
    background-color: coral;
    padding: 1%;
}
td{
    border: black solid;
    text-align: center;
    padding: 3%;
}


/* quienes somos */
.grid-container-uno{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 2%;
    padding: 2%;
    grid-template-areas: "uno uno tres"
                        "uno uno tres"
                        "dos dos tres";
    grid-gap: 0.8rem;
}

#s1{
    grid-area: uno;
}

#s2{
    grid-area: dos;
}
#s2 h4{
    text-align: center;
    font-size: 20px;
  
}

#s3{
    grid-area: tres;
}

#s3 img{
    width: 100%;
    border: 10px red solid;
    border-radius: 15px;
}
@media screen and (max-width:640px) {
    .grid-container{
        grid-template-areas: "uno uno uno"
                            "dos dos dos"
                            "tres tres tres";
    }
}


h3{
    font-family: 'Coda Caption', sans-serif;
    font-size: 20px;
    color: black;
    background-color: none;
    text-align: center;
    text-decoration: underline black;
    font-weight: bold;
    padding: 0;
    margin-top: 10px;
}


/* registro */

legend{
    text-align: center;
    color:black;
    font-weight: bold;
    text-decoration:underline;
}

.formularios{
border-radius: 15px;
background-color: wheat;
padding: 2%;
margin: 2% 20% 5% 20%;
}

h5{
    color: black;
    font-weight: none;
}

textarea{
    width:70%;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

input[type=reset]{
    background-color: tomato;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border:black;
    border-radius: 4px;
    cursor:pointer
}

input[type=submit] {
    background-color: tomato;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border:black;
    border-radius: 4px;
    cursor:pointer
}

.boton:hover{
    background-color: teal;
}


/* ubicación */



.central{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}


.mapas{
    background-color:lightsalmon;
	margin: 2%;
	width: 50%;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    border: black solid 2px;
    border-radius: 15px;
}


.m{
    font-size: 20px;
    font-family: 'Coda Caption', sans-serif;
    color: black;
    background-color: none;
    text-align: center;
    font-weight: bold;
}




/* productos con grid */
.grid-container-dos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 2%;
    padding: 2%;
    margin-bottom: 4%;
}

.producto{
width: 100%;
border-radius: 1rem;
border: 1px solid tomato;
height: 100%;
}

.grid-item{
    background:coral;
    border:1px solid tomato;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5rem;
    text-align: center;
}


